<body>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/simpleFridge4.png" alt="">
            </a>
        </div>
        <!--Desktop Nav-->
        <div class="navbar-menu">
            <div class="navbar-end">
                <!--<a class="navbar-item" href="/about">About</a>-->
                <a class="navbar-item" href="/charity">Donate</a>
                <a class="navbar-item" href="/recipe">Recipes</a>
                <a class="navbar-item" href="/bmi">Calculators</a>
                <a class="navbar-item" href="/favorite">Saved Favorites</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content">
                    "Simple Fridge is an idea that is centered around simplicity. Founded by Sam, Tim, James & Khalid, we have decided to make
                    finding what you actually eat, simple. Our food system—the way in which food is grown and distributed—is
                    complicated, and making good choices for your family can be difficult. We here at Simple Fridge are changing
                    that: By partnering with nutrition experts, we are committed to helping people around the world build
                    a better more complete diet.""
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7pnbX2ymlHMB0338HBDcg3hrWKiWlNwIQ81WmhKoolgkqD5Uofw" alt="Striking Young Fellow">
                    <div class="card-body">
                        <h5 class="text-center">Tim</h5>
                    </div>
                </div>
            </div>
            <div class="col">
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>
<style media="screen">
    body {
        padding: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .navbar {
        background-color: #F3D352;
        padding-top: 12px;
        padding-bottom: 6px;
    }

    .navbar-item {
        color: black;
    }

    #buttonId {
        background-color: #419513;
    }

    .box {
        background-color: white;
        margin: 10px;
        text-align: center;
    }
</style>