
{{#each name}} {{/each}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">

<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/img/simpleFridge2.png" alt="" width="112" height="28">
            </a>
            <div class="navbar-end">
                <a class="navbar-item">About</a>
                <a class="navbar-item">Donate</a>
                <a class="navbar-item">How-to</a>
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true">About</span>
                <span aria-hidden="true">Donate</span>
                <span aria-hidden="true">How-to</span>
            </a>
        </div>
    </nav>
    <br>
    <br>
    <br>

    </div>
    <div class="content">

        "Simple Fridge is an idea that is centered around simplicity. Founded by Sam, Tim, James & Khalid, we have decided to make
finding what you actually eat, simple. Our food system—the way in which food is grown and distributed—is complicated, and
making good choices for your family can be difficult. We here at Simple Fridge are changing that: By partnering with nutrition
experts, we are committed to helping people around the world build a better more complete diet.""
    </div>
</body>