<body>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/simpleFridge4.png" alt="" width="112" height="28">
            </a>
        </div>
        <!--Desktop Nav-->
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/about">About</a>
                <!--<a class="navbar-item" href="/charity">Donate</a>-->
                <a class="navbar-item" href="/howto">How-to</a>
                <a class="navbar-item" href="/bmi">Calculators</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="content">
                "The professional staff at Simple Fridge provides an option for your charitable. Giving back to your community, either by
                volunteering or spreading awareness for causes in your area, isn’t only an amazing way to connect and help
                those in need, but it’s been scientifically proven to be healthy for you! Those who volunteer have a lower
                chance of developing depression, feel an increased sense of purpose and self-esteem, and release more dopamine
                from the brain, resulting in that feeling of happiness often felt after a good workout. Doctors have even
                found that those who volunteer tend to live longer! It is a simple way to increase your overall health. We
                have decided to partner with
                <b>The Food Trust</b>. The Food Trust's mission is ensuring that everyone has access to affordable, nutritious
                food and information to make healthy decisions. By working with neighborhoods, schools, grocers, farmers
                and policymakers, they've developed a comprehensive approach to improved food access that combines nutrition
                education and greater availability of affordable, healthy food.
                <br> www.thefoodtrust.org
        </div>
    </div>
    <div class="col"></div>
</div>
    
                 

</body>

<style media="screen">
    body {
        padding: auto;
        margin: auto;
        font-family: Georgia, serif;
        margin-bottom: 30px;
    }

    .navbar {
        background-color: #F3D352;
        padding-top: 12px;
        padding-bottom: 6px;
    }


    .navbar-item {
        color: black;
    }

    .logo {
        float: right;
    }

    #buttonId {
        background-color: #419513;
    }

    .box {
        background-color: white;
        margin: 10px;
        text-align: center;
    }
</style>