{{!-- {
"id": 1,
"name": "test",
"Protein": "Protein 1.9g",
"TotalLipidFat": "Total lipid (fat) 10g",
"CarbohydrateByDifference": "Carbohydrate, by difference 32.9g",
"FiberTotalDietary": "Fiber, total dietary 0.8g",
"SugarsTotal": "Sugars, total 16.23g",
"Cholesterol": "Cholesterol 0mg",
"createdAt": "2018-05-01T18:36:13.000Z",
"updatedAt": "2018-05-01T18:36:13.000Z"
}, --}}

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
    </tbody>
</table>