{{#each name}}
{{/each}}
<link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/flatly/bulmaswatch.min.css">
<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="/img/simpleFridge2.png" alt="" width="112" height="28">
    </a>
    <div class="navbar-end">
    <a class="navbar-item">About</a>
    <a class="navbar-item">Donate</a>
    <a class="navbar-item">How-to</a>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true">About</span>
      <span aria-hidden="true">Donate</span>
      <span aria-hidden="true">How-to</span>
    </a>
  </div>
</nav>
<br><br><br>
    <div class="container">
      <img class="logo" src="/img/simpleFridge.png">
    </div>
<div class="field">
  <label class="label">{{name}}</label>
  <div class="control">
    <input class="input is-medium" type="text" placeholder="Medium input">
  </div>
</div>
<div cl
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link is-pulled-right" id="buttonId">Search</button>
  </div>
</div>
<br><br>
<div id="macro-calc"></div><script type="text/javascript">!function(d,s,id,url){
  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+url;fjs.parentNode.insertBefore(js,fjs);}
}(document,'script','macro-calc-script', '://macroscalculator.herokuapp.com//widget.js');

</script>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nutrients</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
</body>

<style media="screen">
.navbar {
background-color: #F3D352;
color: black;
padding-top: 12px;
padding-bottom: 6px;
}
body {
    padding: auto;
    width: 75%;
    margin: auto;
    font-family: Georgia, serif;
    margin-bottom: 30px;
  }
.logo {
    text-align: center;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#buttonId {
    background-color: #419513;
    float: right;
}
.control {
  text-align: center;
}
</style>
