{{#each name}}
{{/each}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
<body>
  <navbar>
    <div class="container">
<img class="logo" src="/img/simpleFridge.png">
    </div>
  </navbar>
  
<div class="field">
  <label class="label">{{name}}</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="searchbutton">Search</button>
  </div>
  <div class="control">
    <button class="button is-link" id="buttonId">Cancel</button>
  </div>
</div>
</body>
<style media="screen">
.container {
background: #FCE69F;
}
body {
    padding: 5px;
    width: 75%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
img {
    width: 30%;
    height: 30%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#buttonId {
    background-color: green;
}
</style>
