{{#each name}}
{{/each}}
<div class="field">
  <label class="label">{{name}}</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="searchbutton">Search</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>