{{#each name}}
{{/each}}
<link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/minty/bulmaswatch.min.css">
<body>
  <section class="hero is-primary">
  <div class="hero-body">
  </div>
  </div>
</section>
    <div class="container">
      <img class="logo" src="/img/simpleFridge.png">
    </div>
<div class="field">
  <label class="label">{{name}}</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" id="buttonId">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link" id="buttonId">Cancel</button>
  </div>
</div>
<div id="macro-calc"></div><script type="text/javascript">!function(d,s,id,url){
  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+url;fjs.parentNode.insertBefore(js,fjs);}
}(document,'script','macro-calc-script', '://macroscalculator.herokuapp.com//widget.js');

</script>
</body>

<style media="screen">
.hero {
background-color: #FCE69F;
}
body {
    padding: 5px;
    width: 75%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
img {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#buttonId {
    background-color: green;
}
</style>
