
<body>
<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/img/simpleFridge4.png" alt="">
            </a>
        </div>
        <!--Desktop Nav-->
        <div class="navbar-menu">
            <div class="navbar-end">
                <!--<a class="navbar-item" href="/about">About</a>-->
                <a class="navbar-item" href="/charity">Donate</a>
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/bmi">Calculators</a>
            </div>
        </div>
    </nav>

    <br>
    <br>
    
  <section class="section">
    <div class="container">
        <label class="checkbox" >
            <input type="checkbox" id="checkBox1">
            Beef
        </label>
        <label class="checkbox" >
            <input type="checkbox" id="checkBox2">
            Poultry
        </label>
        <label class="checkbox" >
            <input type="checkbox" id="checkBox3">
            Seafood
        </label>
        <label class="checkbox" >
            <input type="checkbox" id="checkBox4">
            Grains
        </label>
        <label class="checkbox" >
            <input type="checkbox" id="checkBox5" >
            Fruits & Vegetables
        </label>
        <label class="checkbox" >
            <input type="checkbox" id="checkBox6">
            Fats
        </label>
        
    </div>
    <br>
    
    <button type="button" id = "enterButton" >Enter</button>
  </section>
  <script>

        var outString = "http://api.yummly.com/v1/api/recipes?_app_id=1dbb972f&_app_key=b324c49fd90213381df771e8b70bb3c7&";

        $( "#enterButton" ).click(function() {
            if ($('#checkBox1').prop('checked')){
                outString += "Beef&";
            }
            if ($('#checkBox2').prop('checked')){
                outString += "Poultry&";
            }
            if ($('#checkBox3').prop('checked')){
                outString += "Seafood&";
            }
            if ($('#checkBox4').prop('checked')){
                outString += "Grains&";
            }
            if ($('#checkBox5').prop('checked')){
                outString += "Vegetables&";
            }
            if ($('#checkBox6').prop('checked')){
                outString += "Fats&";
            }
            
           

        

        if (!outString.includes("&"))
        {
            outString = "http://api.yummly.com/v1/api/recipes?_app_id=1dbb972f&_app_key=b324c49fd90213381df771e8b70bb3c7&";
        }

        else 
        {
            outString += outString.slice(0,length-1);
        }

        console.log(outString);

        outString = "http://api.yummly.com/v1/api/recipes?_app_id=1dbb972f&_app_key=b324c49fd90213381df771e8b70bb3c7&"

    });
  </script>
  </body>


<style media="screen">
    body {
        padding: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .navbar {
        background-color: #F3D352;
        padding-top: 12px;
        padding-bottom: 6px;
    }


    .navbar-item {
        color: black;
    }

    .logo {
        float: right;
    }

    #buttonId {
        background-color: #419513;
    }

    .box {
        background-color: white;
        margin: 10px;
        text-align: center;
    }
</style>